<div class="main posts-new">
  <div class="posts-table-item">
    <table class="bordered">
      <thead>
      <tr>
        <th>Task</th>
        <th>description</th>
        <th>Status</th>
      </tr>
      </thead>
      <% @tasks.each do |task| %>
        <tr>
            <td><%= link_to(task.task, "/tasks/#{task.id}")%></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
        </tr>
      </div>
    <% end %>
    </table>
  </div>
</div>